## Deliverable 3. Create a Travel Itinerary Map.

In [90]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps
import random
import matplotlib.pyplot as plt
import scipy.stats as stss
import numpy as np
import timeit
import requests
import json
from citipy import citipy
import time
from datetime import datetime
import gmaps.datasets


# Import API key
from config import weather_api_key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key = g_key)

In [91]:
# 1. Read the WeatherPy_vacation.csv into a DataFrame.
vacation_df = pd.read_csv("Vacation_Search/WeatherPy_vacation.csv")
vacation_df.head(10)

,City_ID,City_ID.1,City,Country,Max Temp,Lat,Lng,Hotel Name
0,1,7,Butaritari,KI,79.52,3.0707,172.7902,Isles Sunset Lodge
1,2,10,Clarksville,US,85.71,36.5298,-87.3595,Midtown Inn
2,3,12,Hasaki,JP,79.29,35.7333,140.8333,Inubosaki Kanko Hotel
3,4,15,Hithadhoo,MV,81.82,-0.6000,73.0833,Scoop Guest House
4,5,18,Almeria,ES,89.76,37.1667,-2.3333,Casa Rural El Laurel
5,6,19,Nouna,BF,88.41,12.7333,-3.8667,Sabunyuma So
6,7,21,Atuona,PF,77.00,-9.8000,-139.0333,Villa Enata
7,8,22,Sao Filipe,CV,76.14,14.8961,-24.4956,Hotel Xaguate
8,9,26,Broome,US,85.01,42.2506,-75.8330,Chenango Valley State Park
9,10,27,Oriximina,BR,86.14,-1.7656,-55.8661,Pousada Tia Amélia

In [92]:
# 2. Using the template add the city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 3a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]

# 3b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = vacation_df[["Lat", "Lng"]]

In [93]:
# 4a. Add a marker layer for each city to the map.
# 11a. Add a marker layer for each city to the map. 
locations = vacation_df[["Lat", "Lng"]]
max_temp = vacation_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
#heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
#             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
#fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
    
# 4b. Display the figure

fig

Figure(layout=FigureLayout(height='420px'))

In [94]:
vacation_df.set_index("City", inplace=True)

In [95]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities. 
# 5. Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# Hint: The starting and ending city should be the same city.



vacation_start = vacation_df.loc[['Broome']]
vacation_end = vacation_df.loc[['Broome']]
vacation_stop1 = vacation_df.loc[['Bethel']]
vacation_stop2 = vacation_df.loc[['Westport']] 
vacation_stop3 = vacation_df.loc[['Palmer']]

In [98]:
# 6. Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.


st=vacation_start[['Lat','Lng']].to_numpy()
start = map(tuple, st)

ed=vacation_end[['Lat','Lng']].to_numpy()
end = map(tuple, ed)

stt=vacation_stop1[['Lat','Lng']].to_numpy()
stop1 = map(tuple, stt)

sttt=vacation_stop2[['Lat','Lng']].to_numpy()
stop2 = map(tuple, sttt)

stttt=vacation_stop3[['Lat','Lng']].to_numpy()
stop3 = map(tuple, stttt)

In [122]:
# 7. Create a direction layer map using the start and end latitude-longitude pairs,
# and stop1, stop2, and stop3 as the waypoints. The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".


# Latitude-longitude pairs
Start = (42.2506, -75.8330)
Stop1 = (46.4, 6.9)
Stop2 = (47.4, 8.5)
Stop3 = (46.4, 6.9)
End = (42.2506, -75.8330)






 
fig = gmaps.figure()
start = (Start)
end = (Stop3)
directions = gmaps.directions_layer(start, end, waypoints=waypoints)
waypoints = [(Stop1), (Stop2), ]
fig.add_layer(directions)
fig
    
    
    
    
    
#fig = gmaps.figure()
#geneva2zurich_via_montreux = gmaps.directions_layer(
#        Start, End, waypoints=[ Stop1,Stop2],
#        travel_mode='Walking')
#fig.add_layer(geneva2zurich_via_montreux)


#fig

Figure(layout=FigureLayout(height='420px'))

In [102]:
# 8. To create a marker layer map between the four cities.
#  Combine the four city DataFrames into one DataFrame using the concat() function.
itinerary_df = pd.concat([vacation_start,vacation_end,vacation_stop2,vacation_stop3,vacation_stop1],ignore_index=True)
itinerary_df

,City_ID.1,Country,Max Temp,Lat,Lng,Hotel Name
0,26,US,85.01,42.2506,-75.8330,Chenango Valley State Park
1,26,US,85.01,42.2506,-75.8330,Chenango Valley State Park
2,530,US,88.09,41.1415,-73.3579,The Westport Inn
3,447,US,86.25,42.1584,-72.3287,Wedgewood Motel
4,222,US,86.65,41.3712,-73.4140,Courtyard by Marriott Danbury

In [9]:
# 9 Using the template add city name, the country code, the weather description and maximum temperature for the city. 
info_box_template = """

"""

# 10a Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = itinerary_df[["Lat", "Lng"]]

In [10]:
# 11a. Add a marker layer for each city to the map.

# 11b. Display the figure